<h1>There are <%= @movies.size %> movie results returned.</h1>

<ul>
  <% @movies.each do |movie| %>
     <strong><li> <%=movie.title %></strong>
     (<%=movie.rating %>):
     <%= number_to_currency(movie.total_gross) %></li>
  <% end %>
</ul>